* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
.disable-text-selection {
  user-select: none;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;
}
.Landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
}
.landing-text {
  color: #ffffff;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.landing-text h1 {
  color: rgb(82, 255, 157);
  font-weight: 900;
}
.landing-text,
h2 {
  color: rgb(255, 255, 255);
}
.landing-h2-second {
  color: rgb(255, 255, 255);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 0px;
  position: sticky;
  top: 0px;
  z-index: 999;
  background: rgb(6, 10, 8);
}
.button-one {
  background: linear-gradient(90deg, rgb(255, 73, 1), rgb(225, 253, 9));
  border-radius: 25px;
  border: none;
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.3); /* X, Y, blur, color */
  padding: 10px 15px;
  color: #000000;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.button-one:active,
.button-one:hover {
  transform: scale(0.96);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.button-two {
  background: linear-gradient(90deg, rgb(2, 46, 123), rgb(41, 0, 75));
  border-radius: 25px;
  border: none;
  box-shadow: 0 4px 5px rgba(255, 255, 255, 0.05); /* X, Y, blur, color */
  padding: 10px 15px;
  color: #c0bdbd;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.button-two:active,
.button-two:hover {
  transform: scale(0.96);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

button.back-arrow-button {
  padding: 5px 10px;
  background: none;
  border: none;
  cursor: pointer;
}
button.back-arrow-button svg {
  fill: rgb(255, 255, 255) !important;
  transition: transform 0.2s ease, fill 0.2s ease;
}
button.back-arrow-button svg:hover {
  fill: rgb(2, 46, 123) !important;
}
.add-new-client {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 25px;
  padding: 7px;
  cursor: pointer;
  transition: transform 0.2s ease, border-color 0.3s ease;
}
.add-new-client:hover {
  border: 2px solid rgb(2, 46, 123);
  color: rgb(2, 46, 123);
}
.connect-buttons-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 10px;
}
.button.connect-buttons {
  padding: 5px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.call-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  color: beige;
  margin: 10px;
  padding: 10px 15px;
}

.offer-and-answer-container {
  background: rgb(6, 10, 8);
  height: fit-content;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer-answer {
  padding-top: 10px;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer-and-answer-container textarea {
  height: fit-content;
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background-color: #000000;
  color: #f8f9fa;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.offer-and-answer-container textarea::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.offer-and-answer-container textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.local-remote-video-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.local-video-container {
  text-align: center;
  margin-bottom: 10px;
}

.video-wraper {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.local-video-container .video-wraper video {
  width: 90%;
  border: 5px solid rgb(6, 10, 8);
  border-radius: 25px;
}
.local-video-container.not-conneted .video-wraper video {
}
.local-video-container.client-pinned .video-wraper video {
}

.remote-video-container {
  text-align: center;
  margin-bottom: 10px;
}
.remote-video-container .video-wraper video {
  width: 90%;
  border-radius: 25px;
}
.remote-video-container.client-pinned .video-wraper video {
}
.remote-video-container.pinned-client .video-wraper video {
}

.overlay {
  background: rgb(0, 0, 0, 0);
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0px;
  border-radius: 25px;
  left: 0;
  right: 0;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  visibility: hidden;
  width: 50%;
  height: 50%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.overlay:hover .overlay-button-container {
  visibility: visible;
}
.hangup-button {
  background-color: red;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  display: flex;
}
.pin-button {
  background-color: rgb(154, 154, 154);
  border-radius: 100%;
  border: none;
  cursor: pointer;
  display: flex;
  display: none;
}

.spinner-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* 
@media screen and (max-width: 938px) {
  .call-section {
    flex-direction: column;
    align-items: center;
  }
  .offer-and-answer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .offer-and-answer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .local-video-container.not-conneted video {
    width: 100% !important;
  }

  .local-video-container video {
    width: 100% !important;
  }
  .local-video-container.client-pinned video {
    width: 100% !important;
  }

  .remote-video-container video {
    width: 100% !important;
  }
  .remote-video-container.pinned-client video {
    width: 100% !important;
  }
  .remote-video-container.client-pinned video {
    width: 100% !important;
  }
} */
