* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #110513;
  color: #0d0c0b;
}
.Landing {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 100vh;
  padding: 20px;
  flex-direction: row;
  background: linear-gradient(#280021, #000000);
}
.select-host-or-client {
  background-color: #088f8f;
  padding: 20px;
  border-radius: 10px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0px;
  background-color: #360133;
}
.button {
  background: linear-gradient(90deg, #6a0045, #280021);
  border-radius: 25px;
  padding: 10px 15px;
  color: #f8f9fa;
}
button.back-arrow-button {
  padding: 5px 10px;
}
.connect-buttons-container {
  display: flex;
  justify-content: space-around;
}
.button.connect-buttons {
  padding: 5px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.connection-status {
  color: #f8f9fa;
  padding: 5px 10px;
  border-radius: 5px;
  width: 40vw;
  margin: auto;
}
.connection-status span {
  margin-left: 10px;
  color: #333;
}
.call-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  color: beige;
  margin: 10px;
  padding: 10px 15px;
}

.offer-and-answer-container {
  background: linear-gradient(#280021, #360133);
  height: fit-content;
  padding: 10px;
  border-radius: 15px;
}
.offer-and-answer-container textarea {
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #280021;
  color: #f8f9fa;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.offer-and-answer-container textarea::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.offer-and-answer-container textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.local-remote-video-wraper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  width: 100%;
  padding: 20px;
  justify-items: center;
  align-items: center;
}
.local-video-container {
  text-align: center;
}
.local-video-container video {
  width: 300px !important;
  border: 5px solid #e29a65;
  border-radius: 25px;
}
.local-video-container.client-pinned video {
  width: 200px !important;
}
.local-video-container.not-conneted video {
  width: 600px !important;
  border-radius: 25px;
}
.video-wraper {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0px;
  padding: 0px;
  border-radius: 25px;
  overflow: hidden;
}

.overlay {
  background: rgb(0, 0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  border-radius: 25px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay:hover {
  background: rgb(0, 0, 0, 0.75);
}
.overlay-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  width: 50%;
  height: 50%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}
.overlay:hover .overlay-button-container {
  visibility: visible;
}
.hangup-button {
  background-color: red;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  display: flex;
}
.pin-button {
  background-color: rgb(154, 154, 154);
  border-radius: 100%;
  border: none;
  cursor: pointer;
  display: flex;
}
.remote-video-container {
  text-align: center;
}
.remote-video-container video {
  width: 300px !important;
  border-radius: 25px;
  border: 5px solid #e29a65;
  border-radius: 25px;
}
.remote-video-container.client-pinned video {
  width: 200px !important;
}
.remote-video-container.pinned-client video {
  width: 600px !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 938px) {
  .call-section {
    flex-direction: column;
    align-items: center;
  }
  .offer-and-answer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .offer-and-answer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .local-video-container.not-conneted video {
    width: 100% !important;
  }

  .local-video-container video {
    width: 100% !important;
  }
  .local-video-container.client-pinned video {
    width: 100% !important;
  }

  .remote-video-container video {
    width: 100% !important;
  }
  .remote-video-container.pinned-client video {
    width: 100% !important;
  }
  .remote-video-container.client-pinned video {
    width: 100% !important;
  }
}
